.logo{
    max-height: 80px;
}
.navtext{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
}
.zaranav{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media(max-width:576px){
    .mobilegoaway{
    display: none;
    }}
    
.imagebehindtext{
position: relative;
}

.top-left {
    position: absolute;
    top: -16px;
    left: 20px;
      }

@font-face {
    font-family: myFirstFont;
    src: url(gallientregular.ttf);
    }
      
    .gal{
        font-family: myFirstFont;
        color: white;
        font-size: 72px;
        font-style: normal;
    }