/*overall layout assistance*/


/*this makes our pages not have a horizontal scroll on mobile, pls do not remove*/
.nohorizontalscroll { 
  overflow-x: hidden;
}

.centerhorizontalincolumn {
  display: block;
  margin:auto;
}

.offsetright-1{
  margin-right: 8.33333333%;
}
.offsetright-2{
margin-right: 16.66666667%;
}

.offsetright-md-0{
  margin-right:0%
}

.offsetright-md-1{
  margin-right:8.33333333%;
}

.mb-md-6 {
  margin-bottom: 4rem !important;
}
.mb-md-7 {
  margin-bottom: 5rem !important;
}

.mt-md-6 {
  margin-top: 4rem !important;
}

.mt-md-7 {
  margin-top: 5rem !important;
}

.mt-md-8 {
  margin-top: 6rem !important;
}
.mt-md-9 {
  margin-top: 7rem !important;}

  .mt-md-10 {
    margin-top: 8rem !important;}

  .mt-md-11 {
    margin-top: 9rem !important;
}
.ms-6 {
  margin-left: 4rem !important;
}
.ms-7 {
  margin-left: 5rem !important;
}
/*Nav Bar Things*/

.bi {
  color: black;
}

.logo {
  max-height: 80px;
}
@media (max-width: 576px){
  .logo{
    max-height: 50px;
  }
}

.navtext {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
}
.navtexttop {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
}
.zaranav {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .mobilegoaway {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobileonly {
    display: none;
  }
}

.line{
  border-right: 1px black;
  height: 268px;
}
.nomargin{
  margin-bottom: 0;
}
/*Home Page Things*/

@media (min-width: 576px) {
.nopadding {
  padding-left: 0%;
  padding-right: 0%;
}}

.imagebehindtext {
  position: relative;
}

.top-left {
  position: absolute;
  top: -16px;
  left: 20px;
}

@font-face {
  font-family: "Gallient Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gallient Regular"), url(./fonts/gallientregular.ttf);
}

.galnumber {
  font-family: "Gallient Regular";
  color: white;
  font-size: 72px;
  font-style: normal;
}



.galhome {
  font-family: "Gallient Regular";
  color: black;
  font-size: 96px;
  font-style: normal;
}

@media (max-width: 768px){
  .galhome{
    font-size: 72px;
  }}

.galhome2 {
  font-family: "Gallient Regular";
  color: black;
  font-size: 20px;
  font-style: normal;
}
@font-face {
  font-family: "The Seasons Bold";
  font-style: normal;
  src: local("The Seasons Bold"), url(./fonts/TheSeasons-Bd.otf);
}
.overlaytitle {
  font-family: "The Seasons Bold";
  color: white;
  font-size: 36px;
}
@font-face {
  font-family: "Helvetica Neue LT Pro 45 Light";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 45 Light"),
    url(./fonts/HelveticaNeueLTProLt.woff) format("woff");
}

.overlaysubtitle {
  font-family: "Helvetica Neue LT Pro 45 Light";
  color: white;
  font-size: 24px;
}
@font-face {
  font-family: "Helvetica Neue LT Pro Medium Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro Medium Condensed"),
    url(./fonts/HelveticaNeueLTProMdCn.woff) format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Pro 75 Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 75 Bold"), url(./fonts/HelveticaNeueLTProBd.otf);
}
@font-face {
  font-family: "Helvetica Neue LT Pro 55 Roman";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 55 Roman"), url(./fonts/HelveticaNeueLTProRoman.otf);
}
.blazertext {
  font-family: "Helvetica Neue LT Pro 55 Roman";
  font-size: 14px;
  color: black;
}
.mobiledropdown{
  font-family: "Helvetica Neue LT Pro 55 Roman" ;
  color:white;
  font-size: 16px;
  padding-left: 3rem !important;
padding-top: 1rem !important;
  }

.mobiledropdownbold{
font-family: "Helvetica Neue LT Pro 75 Bold" ;
color:white;
font-size: 18px;
}

.dropdowntext{
  font-family: "Helvetica Neue LT Pro 55 Roman" ;
  color:black;
  font-size: 16px;
}
.dropdownbox{
  text-align:left;
height: 44px;
background: #2E2E2E;

box-sizing: border-box;
margin-top: 0% !important;
}
.newslettertext {
  font-family: "Helvetica Neue LT Pro Medium Condensed";
  color: black;
  font-size: 22px;
}

@media (min-width: 768px) {
  .newslettertextmobile{
    font-family: "Helvetica Neue LT Pro Medium Condensed";
    color: black;
    font-size: 22px;
    text-align: left !important;
  }
}

.newslettertextmobile{
  font-family: "Helvetica Neue LT Pro Medium Condensed";
  color: black;
  font-size: 18px;
}


.homeimagecontainer {
  position: relative;
}

.homeimage {
  display: block;
  width: 100%;
}

.homepageimageoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #434343bf;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: opacity 0.25s;
}

.homepageimageoverlay:hover {
  opacity: 1;
}
.newsletter {
  position: absolute;
  height: 160px;
  width: 550px;
  left: 55%;
  right: 0%;
  top: 85%;
  bottom: 0%;
  background: #ffffff;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

/*Mobile Home Page Things*/
.mobilebox1{
  position: absolute;
  z-index: 100;
  width: 308px;
  height: 65px;
  top: 405px;
  background: linear-gradient(272.39deg, #BAD1D9 0.03%, #4E91AC 99.48%);
  }

.mobilebox2{
position: absolute;
z-index: 100;
width: 308px;
height: 65px;
left: 66px;
top: 315px;
background: linear-gradient(272.39deg, #B9BAB2 0.03%, #69503C 99.48%);
}

.mobilebox3{
position: absolute;
z-index: 100;
width: 280px;
height: 65px;
top: 1950px;
left: 0px;
background: linear-gradient(92.43deg, #839293 15.56%, #C9DDDE 99.56%);
}

.mobilebox4{
position: absolute;
z-index: 100;
width: 308px;
height: 65px;
left: 67px;
top: 2434px;
background: linear-gradient(92.14deg, #969A8D 0%, #31402B 95.23%);
}

.mobilboxtext{
  font-family: "The Seasons Bold";
  color: white;
  font-size: 24px;
}
.mobileboxtext2{
  font-family: "Helvetica Neue LT Pro Medium Condensed";
  color: white;
  font-size: 18px;
}

/*footer things*/

.zarafooter {
  background: #ffffff;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.footerlist li {
  display: inline;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.footertext {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}
/*Form CSS copied from template, for email imput on home page*/
.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.75rem + 2px);
  padding: 0.875rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #111;
}
.form-control:focus {
  color: #111;
  background-color: #fff;
  border-color: #1f1f1f;
  outline: 0;
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  color: #767676;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #767676;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #767676;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #767676;
  opacity: 1;
}
.form-control::placeholder {
  color: #767676;
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #d8d8d8;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #111;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

.form-control-sm {
  height: calc(1.5em + 1.625rem + 2px);
  padding: 0.8125rem 1.25rem;
  font-size: 0.9375rem;
  line-height: 1.5;
}

/*Cart Page*/


.cartheader {
  font-family: "The Seasons Bold";
  color:black;
  font-size: 36px;
}
@media (max-width: 768px) {
  .cartheader {
    font-family: "The Seasons Bold";
    color:black;
    font-size: 24px;
  }}
  

@font-face {
  font-family: "Helvetica Neue LT Pro 65 Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 65 Medium"), url(./fonts/HelveticaNeueLTProMd.otf);
}

.ordertext1{
  font-family: "Helvetica Neue LT Pro 65 Medium";
  font-size: 24px;
  color: black;
  padding-bottom: 0% !important;
}

.ordertext2{
  font-family: "Helvetica Neue LT Pro 55 Roman";
  font-size: 16px;
  color: black;
}
.ordertext3{
  font-family: "Helvetica Neue LT Pro 55 Roman";
  font-size: 16px;
  color: black;
  text-decoration-line: underline !important;
}

@media (max-width: 768px) {
  .ordertext2{
    font-family: "Helvetica Neue LT Pro 55 Roman";
    font-size: 14px;
    color: black;
  }
}
.cartheading{
  font-family: "Helvetica Neue LT Pro 65 Medium";
  font-size: 18px;
  color: black;
  padding-bottom: 0% !important;
}
@media (max-width: 768px) {
  .cartheading{
    font-family: "Helvetica Neue LT Pro 65 Medium";
    font-size: 16px;
    color: black;
    padding-bottom: 0% !important;
  }}
  
.checkoutbutton{
  font-family: "Helvetica Neue LT Pro 65 Medium";
  font-size: 18px;
  color: white;
}
/*Checkout Process*/

.checkouttheader {
  font-family: "The Seasons Bold";
  color:black;
  font-size: 36px;
}
@media (max-width: 768px) {
  .checkouttheader {
    font-family: "The Seasons Bold";
    color:black;
    font-size: 30px;
  }}
  .progressnumber{
  font-family: "Gallient Regular";
  color:black;
  font-size: 64px;
  font-style: normal;
  }
  .progressline {
    display: inline-block;
    border-top: 1px solid black;
    width: 2em;}



.zaraprogressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 48px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}


.zaraprogressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.zaraprogressbar li:first-child:after {
    content: none;
}
.zaraprogressbar li.active {
    color:black;
}
.zaraprogressbar li.active:before {
    border-color:black;
}
.zaraprogressbar li.active + li:after {
    background-color: black;
}

@media (min-width: 768px){
  .shiptable{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: none;
    border-top: none;
  }
}


.nopaddingtb{
padding-top: 0% !important;
padding-left: 0% !important;
}