//
// variables.scss
//

// Color system

$white: #fff !default;
$gray-50: #f5f5f5 !default;
$gray-100: #e5e5e5 !default;
$gray-150: #ddd !default;
$gray-200: #d8d8d8 !default;
$gray-250: #ccc !default;
$gray-300: #bababa !default;
$gray-350: #a6a6a6 !default;
$gray-400: #909090 !default;
$gray-450: #767676 !default;
$gray-500: #525252 !default;
$gray-600: #3e3e3e !default;
$gray-700: #303030 !default;
$gray-800: #2b2b2b !default;
$gray-900: #1f1f1f !default;
$black: #111 !default;

$primary: #ff6f61 !default;
$secondary: #a6a6a6 !default;
$success: #28bb74 !default;
$info: #3b86ff !default;
$warning: #ff9736 !default;
$danger: $primary !default;
$light: $gray-50 !default;
$dark: $gray-900 !default;

$yiq-contrasted-threshold: 200 !default;

$facebook: #475A96 !default;
$twitter: #49B2E8 !default;
$pinterest: #D74047 !default;
$linkedin: #0D76B4 !default;

$brand-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$brand-colors: map-merge(("facebook": $facebook,
    "twitter": $twitter,
    "pinterest": $pinterest,
    "linkedin": $linkedin),
  $brand-colors);


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: false !default;
$enable-hover-up: 'xl' !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1.5rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((0: 0,
    1: .25rem, // 4px
    2: .5rem, // 8px
    3: .75rem, // 12px
    4: 1rem, // 16px
    5: 1.25rem, // 20px
    6: 1.5rem, // 24px
    7: 2rem, // 32px
    8: 2.5rem, // 40px
    9: 3rem, // 48px
    10: 4rem, // 64px
    11: 5rem, // 80px
    12: 6rem, // 96px
    13: 8rem, // 128px
    14: 10rem, // 160px
    15: 12rem, // 192px
  ),
  $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge((0: 0,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    125: 125%,
    150: 150%,
    175: 175%,
    200: 200%,
    auto: auto),
  $sizes);


// Body
//
// Settings for the `<body>` element.

$body-color: $black !default;
$body-color: $dark !default;


// Links
//
// Style anchor elements.

$link-hover-decoration: none !default;

$link-underline-padding-x: 1.25rem !default;

$link-underline-color: $body-color !default;
$link-underline-hover-color: $body-color !default;


// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: $spacer !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 2rem !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-base: 'Jost' !default;

$font-size-lg: 1.125rem !default; // 18px
$font-size-base: 1rem !default; // 16px
$font-size-sm: 0.9375rem !default; // 15px
$font-size-xs: 0.875rem !default; // 14px
$font-size-xxs: 0.8125rem !default; // 13px
$font-size-xxxs: 0.6875rem !default; // 11px

$font-weight-base: 400 !default;
$font-weight-bold: 500 !default;
$font-weight-bolder: 600 !default;

$line-height-base: 1.5 !default;

$h1-font-size: 2.75rem !default; // 44px
$h2-font-size: 2.25rem !default; // 36px
$h3-font-size: 2rem !default; // 32px
$h4-font-size: 1.75rem !default; // 28px
$h5-font-size: 1.5rem !default; // 24px
$h6-font-size: 1.25rem !default; // 20px

$h1-font-size-sm: 2.25rem !default; // 36px
$h2-font-size-sm: 1.875rem !default; // 30px
$h3-font-size-sm: 1.75rem !default; // 28px
$h4-font-size-sm: 1.5rem !default; // 24px
$h5-font-size-sm: 1.375rem !default; // 22px

$headings-font-weight: 500 !default;

$display1-size: 6.875rem !default; // 110px
$display4-size: 3.75rem !default; // 60px

$display1-size-sm: 4.875rem !default; // 78x
$display4-size-sm: 2.75rem !default; // 44px

$display1-weight: $headings-font-weight !default;
$display2-weight: $headings-font-weight !default;
$display3-weight: $headings-font-weight !default;
$display4-weight: $headings-font-weight !default;

$lead-font-size: $font-size-lg !default;
$lead-font-weight: $font-weight-base !default;

$text-muted: $gray-450 !default;

$letter-spacing-lg: 0.02em !default;
$letter-spacing-xl: 0.05em !default;

$blockquote-small-color: $text-muted !default;
$blockquote-small-font-size: $font-size-sm !default;
$blockquote-font-size: $h5-font-size !default;

$blockquote-2-padding: 1.25rem 2rem !default;
$blockquote-2-font-size: $h6-font-size !default;

$list-styled-spacing: .75em !default;
$list-styled-link-color: $gray-500 !default;
$list-styled-link-hover-color: $body-color !default;
$list-styled-link-active-color: $body-color !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: 1.5rem !default;
$table-cell-padding-lg: 2rem !default;
$table-cell-padding-sm: 1.25rem !default;

$table-hover-bg: $light !default;

$table-head-padding-y: 1.25rem !default;
$table-head-padding-y-lg: 1.5rem !default;
$table-head-padding-y-sm: 1rem !default;


// Components
//
// Define common padding and border radius sizes and more.
$border-width: 1px !default;
$border-color: $gray-100 !default;

$box-shadow: 0 .25rem .25rem fade-out($black, .98);
$box-shadow-lg: 0 .25rem .25rem fade-out($black, .98), 0 .75rem 2.25rem fade-out($black, .96);

$box-shadow-border: 0 0 0 $border-width $border-color !default;
$box-shadow-border-inset: inset 0 0 0 $border-width $border-color !default;

$transition-base: all 0.1s ease-in-out !default;
$transition-lg: all 0.2s ease-in-out !default;

$caret-vertical-align: middle !default;

$transition-fade: opacity 0.2s ease-in-out !default;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 0.875rem !default;
$input-btn-padding-x: 1.5rem !default;
$input-btn-font-size: $font-size-base !default;
$input-btn-line-height: $line-height-base !default;

$input-btn-padding-y-xxs: .1875rem !default;
$input-btn-padding-x-xxs: .5rem !default;
$input-btn-font-size-xxs: $font-size-sm !default;
$input-btn-line-height-xxs: $line-height-base !default;

$input-btn-padding-y-xs: .5rem !default;
$input-btn-padding-x-xs: .75rem !default;
$input-btn-font-size-xs: $font-size-sm !default;
$input-btn-line-height-xs: $line-height-base !default;

$input-btn-padding-y-sm: 0.8125rem !default;
$input-btn-padding-x-sm: 1.25rem !default;
$input-btn-font-size-sm: $font-size-sm !default;
$input-btn-line-height-sm: $line-height-base !default;

$input-btn-padding-y-lg: 1.0625rem !default;
$input-btn-padding-x-lg: 1.875rem !default;
$input-btn-font-size-lg: $font-size-base !default;
$input-btn-line-height-lg: $line-height-base !default;

$input-btn-focus-width: 0 !default;
$input-btn-focus-color: transparent !default;
$input-btn-focus-box-shadow: none !default;

$input-btn-border-width: $border-width !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: $input-btn-padding-y !default;
$btn-padding-x: 1.75rem !default;
$btn-font-size: $input-btn-font-size !default;
$btn-line-height: $btn-font-size * $input-btn-line-height !default;

$btn-padding-y-xxs: $input-btn-padding-y-xxs !default;
$btn-padding-x-xxs: $input-btn-padding-x-xxs !default;
$btn-font-size-xxs: $input-btn-font-size-xxs !default;
$btn-line-height-xxs: $btn-font-size-xxs * $input-btn-line-height-xxs !default;

$btn-padding-y-xs: $input-btn-padding-y-xs !default;
$btn-padding-x-xs: $input-btn-padding-x-xs !default;
$btn-font-size-xs: $input-btn-font-size-xs !default;
$btn-line-height-xs: $btn-font-size-xs * $input-btn-line-height-xs !default;

$btn-padding-y-sm: $input-btn-padding-y-sm !default;
$btn-padding-x-sm: 1.5rem !default;
$btn-font-size-sm: $input-btn-font-size-sm !default;
$btn-line-height-sm: $btn-font-size-sm * $input-btn-line-height-sm !default;

$btn-padding-y-lg: $input-btn-padding-y-lg !default;
$btn-padding-x-lg: 2rem !default;
$btn-font-size-lg: $input-btn-font-size-lg !default;
$btn-line-height-lg: $btn-font-size-lg * $input-btn-line-height-lg !default;

$btn-border-width: $input-btn-border-width !default;

$btn-font-weight: $font-weight-bold !default;
$btn-box-shadow: none !default;
$btn-focus-box-shadow: none !default;
$btn-active-box-shadow: none !default;

$btn-height: calc(#{$btn-line-height} + #{$btn-padding-y * 2} + #{$btn-border-width * 2}) !default;
$btn-height-xxs: calc(#{$btn-line-height-xxs} + #{$btn-padding-y-xxs * 2} + #{$btn-border-width * 2}) !default;
$btn-height-xs: calc(#{$btn-line-height-xs} + #{$btn-padding-y-xs * 2} + #{$btn-border-width * 2}) !default;
$btn-height-sm: calc(#{$btn-line-height-sm} + #{$btn-padding-y-sm * 2} + #{$btn-border-width * 2}) !default;
$btn-height-lg: calc(#{$btn-line-height-lg} + #{$btn-padding-y-lg * 2} + #{$btn-border-width * 2}) !default;


// Forms

$input-padding-y: $input-btn-padding-y !default;
$input-padding-x: $input-btn-padding-x !default;
$input-font-size: $input-btn-font-size !default;
$input-line-height: $input-btn-line-height !default;

$input-padding-y-xxs: $input-btn-padding-y-xxs !default;
$input-padding-x-xxs: $input-btn-padding-x-xxs !default;
$input-font-size-xxs: $input-btn-font-size-xxs !default;
$input-line-height-xxs: $input-btn-line-height-sm !default;

$input-padding-y-xs: $input-btn-padding-y-xs !default;
$input-padding-x-xs: $input-btn-padding-x-xs !default;
$input-font-size-xs: $input-btn-font-size-xs !default;
$input-line-height-xs: $input-btn-line-height-sm !default;

$input-padding-y-sm: $input-btn-padding-y-sm !default;
$input-padding-x-sm: $input-btn-padding-x-sm !default;
$input-font-size-sm: $input-btn-font-size-sm !default;
$input-line-height-sm: $input-btn-line-height-sm !default;

$input-padding-y-lg: $input-btn-padding-y-lg !default;
$input-padding-x-lg: $input-btn-padding-x-lg !default;
$input-font-size-lg: $input-btn-font-size-lg !default;
$input-line-height-lg: $input-btn-line-height-lg !default;

$input-bg: $white !default;

$input-color: $body-color !default;
$input-border-color: $border-color !default;
$input-border-width: $input-btn-border-width !default;

$input-focus-border-color: $dark !default;

$input-placeholder-color: $text-muted !default;

$input-height-border: $input-border-width * 2 !default;

$input-height: calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border}) !default;
$input-height-xxs: calc(#{$input-line-height-xxs * 1em} + #{$input-padding-y-xxs * 2} + #{$input-height-border}) !default;
$input-height-xs: calc(#{$input-line-height-xs * 1em} + #{$input-padding-y-xs * 2} + #{$input-height-border}) !default;
$input-height-sm: calc(#{$input-line-height-sm * 1em} + #{$input-padding-y-sm * 2} + #{$input-height-border}) !default;
$input-height-lg: calc(#{$input-line-height-lg * 1em} + #{$input-padding-y-lg * 2} + #{$input-height-border}) !default;

$input-group-addon-color: $text-muted !default;
$input-group-addon-bg: $input-bg !default;

$form-grid-gutter-width: 20px !default;

$form-group-margin-bottom: $spacer !default;
$form-group-limited-height: 250px !default;

$custom-control-gutter: .875rem !default;
$custom-control-spacer-x: .5rem !default;

$custom-control-indicator-size: 1.125rem !default;
$custom-control-indicator-bg: $gray-100 !default;

$custom-control-indicator-bg-size: 10px 8px !default;
$custom-control-indicator-border-width: 0 !default;

$custom-control-indicator-disabled-bg: $gray-100 !default;
$custom-control-label-disabled-color: $gray-350 !default;

$custom-control-indicator-checked-color: $white !default;
$custom-control-indicator-checked-bg: $dark !default;

$custom-control-indicator-active-bg: $gray-100 !default;

$custom-control-label-color: $text-muted !default;
$custom-control-label-checked-color: $body-color !default;

$custom-checkbox-indicator-icon-checked: str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 8'%3e%3cpath fill='none' stroke='#{$custom-control-indicator-checked-color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M9 1L3.5 7L1 4.27273'/%3e%3c/svg%3e"), "#", "%23") !default;

$custom-control-color-indicator-size: 1.375rem !default;

$custom-control-img-size: 70px !default;

$custom-control-size-spacing: .5rem !default;
$custom-control-size-width: 3rem !default;
$custom-control-size-border-color: $gray-150 !default;

$custom-select-indicator-padding: 2rem !default;
$custom-select-bg-size: 1rem 1rem !default;
$custom-select-indicator-color: $gray-500 !default;
$custom-select-indicator: str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpolyline fill='none' stroke='#{$custom-select-indicator-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' points='6 9 12 15 18 9'/%3e%3c/svg%3e"), "#", "%23") !default;

$custom-select-padding-y-xxs: $input-padding-y-xxs;
$custom-select-padding-x-xxs: $input-padding-x-xxs;
$custom-select-font-size-xxs: $input-font-size-xxs;
$custom-select-height-xxs: $input-height-xxs;

$custom-select-padding-y-xs: $input-padding-y-xs;
$custom-select-padding-x-xs: $input-padding-x-xs;
$custom-select-font-size-xs: $input-font-size-xs;
$custom-select-height-xs: $input-height-xs;

$custom-select-background-xs: $custom-select-indicator no-repeat right $input-padding-x-xs center / $custom-select-bg-size !default;
$custom-select-background-xxs: $custom-select-indicator no-repeat right $input-padding-x-xxs center / $custom-select-bg-size !default;

$custom-switch-width: 2.125rem !default;
$custom-switch-indicator-size: .875rem !default;


// Navs

$nav-link-color: $body-color !default;
$nav-link-hover-color: $primary !default;
$nav-link-active-color: $primary !default;

$nav-tabs-border-width: 0 0 $border-width 0 !default;
$nav-tabs-link-active-color: $primary !default;
$nav-tabs-link-active-bg: transparent !default;

$nav-tabs-border-color: $border-color !default;

$nav-tabs-link-padding-y: .875rem !default;
$nav-tabs-link-padding-x: 0 !default;

$nav-tabs-link-spacer: 2rem !default;


// Navbar

$navbar-padding-y: $spacer !default;
$navbar-padding-x: 1rem !default;

$navbar-nav-link-padding-x: 1rem !default;

$navbar-brand-font-size: $h4-font-size !default;
$navbar-brand-font-size-sm: $h4-font-size-sm !default;

$navbar-toggler-padding-x: 0 !default;
$navbar-toggler-font-size: $font-size-sm !default;

$navbar-light-color: $body-color !default;
$navbar-light-hover-color: $primary !default;
$navbar-light-active-color: $primary !default;
$navbar-light-toggler-border-color: transparent !default;

$navbar-light-brand-color: $navbar-light-color !default;
$navbar-light-brand-hover-color: $navbar-light-color !default;
$navbar-light-toggler-icon-bg: str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 20 15' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20 0H0V1.75561H20V0Z' fill='#{$body-color}'/%3e%3cpath d='M20 6.5685H0V8.32412H20V6.5685Z' fill='#{$body-color}'/%3e%3cpath d='M20 13.2437H0V15H20V13.2437Z' fill='#{$body-color}'/%3e%3c/svg%3e"), "#", "%23") !default;

$navbar-dark-color: $white !default;
$navbar-dark-hover-color: $white !default;
$navbar-dark-active-color: $white !default;
$navbar-dark-toggler-border-color: transparent !default;
$navbar-dark-toggler-icon-bg: str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 20 15' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20 0H0V1.75561H20V0Z' fill='#{$white}'/%3e%3cpath d='M20 6.5685H0V8.32412H20V6.5685Z' fill='#{$white}'/%3e%3cpath d='M20 13.2437H0V15H20V13.2437Z' fill='#{$white}'/%3e%3c/svg%3e"), "#", "%23") !default;

$navbar-vertical-width: 335px !default;

$navbar-collapse-margin-top: .5rem !default;


// Topbar

$navbar-topbar-padding-y: 0.25rem !default;

$navbar-topbar-light-color: $body-color !default;
$navbar-topbar-light-hover-color: $gray-700 !default;


// Fashion

$navbar-fashion-height: 4rem !default;
$navbar-fashion-padding-y: 0 !default;

$navbar-fashion-form-width: 300px !default;

$navbar-fashion-dark-color: $gray-250 !default;
$navbar-fashion-dark-hover-color: $white !default;
$navbar-fashion-dark-active-color: $white !default;


// Boxed

$navbar-boxed-padding-y: 0 !default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width: 200px !default;
$dropdown-padding-y: 0 !default;
$dropdown-spacer: 0 !default;
$dropdown-border-color: $border-color !default;

$dropdown-link-color: $body-color !default;
$dropdown-link-hover-color: $body-color !default;
$dropdown-link-hover-bg: $light !default;

$dropdown-link-active-color: $body-color !default;
$dropdown-link-active-bg: $light !default;

$dropdown-item-padding-y: .5rem !default;
$dropdown-item-padding-x: 1.25rem !default;

$dropdown-item-padding-y-lg: .875rem !default;
$dropdown-item-padding-x-lg: 2rem !default;

$dropdown-link-font-size: $font-size-xs !default;
$dropdown-link-font-size-lg: $font-size-sm !default;


// Pagination

$pagination-padding-y: .75rem !default;
$pagination-padding-x: 1.25rem !default;
$pagination-padding-y-sm: .5rem !default;
$pagination-padding-x-sm: 1rem !default;
$pagination-padding-y-lg: 1rem !default;
$pagination-padding-x-lg: 1.5rem !default;

$pagination-color: inherit !default;
$pagination-bg: transparent !default;
$pagination-border-color: $border-color !default;

$pagination-hover-color: $primary !default;
$pagination-hover-bg: transparent !default;
$pagination-hover-border-color: $border-color !default;

$pagination-active-color: $primary !default;
$pagination-active-bg: transparent !default;
$pagination-active-border-color: $primary !default;

$pagination-font-size-sm: $font-size-sm !default;


// Cards

$card-spacer-x: 1.5rem !default;
$card-spacer-x-xl: 2.5rem !default;
$card-spacer-x-lg: 2rem !default;
$card-spacer-x-sm: 1.25rem !default;

$card-border-width: 0 !default;
$card-bg: $white !default;

$card-img-overlay-padding: $card-spacer-x !default;

$card-extras-spacer: 1.25rem !default;

$card-circle-size: 70px !default;
$card-circle-size-lg: 96px !default;
$card-circle-size-sm: 34px !default;

$card-circle-bg: $primary !default;
$card-circle-color: $white !default;


// Tooltips

$tooltip-font-size: $font-size-xs !default;


// Popovers

$popover-font-size: $font-size-xxxs !default;
$popover-bg: $light !default;
$popover-border-color: transparent !default;
$popover-box-shadow: 0 0 1px fade-out($black, .8);

$popover-body-color: $gray-500 !default;
$popover-body-padding-y: .75rem !default;
$popover-body-padding-x: 1rem !default;


// Badges

$badge-font-size: 0.6875em !default;
$badge-font-weight: $font-weight-bold !default;
$badge-padding-y: 0.5em !default;
$badge-padding-x: 1em !default;

$badge-letter-spacing: $letter-spacing-lg !default;


// Modals

$modal-inner-padding: 2rem !default;

$modal-content-border-width: 0 !default;

$modal-backdrop-opacity: .3 !default;
$modal-header-border-width: $border-width !default;

$modal-dialog-vertical-width: 470px !default;

$modal-header-padding-y: 1.5rem !default;
$modal-header-padding-x: $modal-inner-padding !default;

$modal-footer-padding-y: 1.5rem !default;
$modal-footer-padding-x: $modal-inner-padding !default;


// Progress bars

$progress-height: 2px !default;
$progress-bg: $gray-150 !default;


// List group

$list-group-bg: transparent !default;
$list-group-border-color: $border-color !default;

$list-group-item-padding-y: 1.5rem !default;
$list-group-item-padding-x: 1.5rem !default;

$list-group-item-padding-y-lg: 2rem !default;
$list-group-item-padding-x-lg: 2rem !default;

$list-group-item-padding-y-sm: 1.25rem !default;
$list-group-item-padding-x-sm: 1.25rem !default;

$list-group-hover-bg: transparent !default;
$list-group-active-color: $body-color !default;
$list-group-active-bg: transparent !default;
$list-group-active-border-color: $list-group-border-color !default;

$list-group-action-color: $text-muted !default;
$list-group-action-hover-color: $body-color !default;

$list-group-action-active-color: $body-color !default;
$list-group-action-active-bg: transparent !default;


// Breadcrumbs

$breadcrumb-padding-y: 0 !default;
$breadcrumb-padding-x: 0 !default;

$breadcrumb-margin-bottom: $spacer !default;

$breadcrumb-bg: transparent !default;
$breadcrumb-divider-color: inherit !default;
$breadcrumb-active-color: inherit !default;
$breadcrumb-divider: '\e930' !default;


// Spinners

$spinner-border-width: $border-width * 2 !default;


// Close

$close-color: $gray-350 !default;
$close-text-shadow: none !default;

$close-hover-color: $body-color !default;
$close-spacer: $spacer !default;


// Brands

$brand-padding-y: 2rem !default;
$brand-padding-x: 2rem !default;

$brand-bg: $white !default;
$brand-box-shadow: $box-shadow !default;


// Line

$line-width: 200px !default;
$line-color: $primary !default;

$line-circle-size: 11px !default;


// Fancybox

$fancybox-backdrop-bg: $black !default;
$fancybox-backdrop-opacity: .9 !default;


// Simplebar

$simplebar-track-width: 2px !default;
$simplebar-track-bg: $gray-150 !default;
$simplebar-scrollbar-bg: $dark !default;


// Rating

$rating-color: $gray-250 !default;


// Rate

$rate-color: $body-color !default;
$rate-hover-color: $gray-700 !default;
$rate-spacing: 1rem !default;


// Avatar

$avatar-size-base: 1.875rem !default;
$avatar-size-xs: 1rem !default;
$avatar-size-sm: 1.5rem !default;
$avatar-size-lg: 2.25rem !default;
$avatar-size-xl: 4rem !default;
$avatar-size-xxl: 6.25rem !default;

$avatar-title-bg: $gray-50 !default;
$avatar-title-color: $gray-250 !default;


// Review

$review-spacer: 2.5rem !default;
$review-margin-bottom: 1.25rem !default;

$review-border-width: $border-width !default;
$review-border-color: $border-color !default;


// Paths

$path-to-img: "../img" !default;
